@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');


/* animation */
.animated {
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
}

.animate .animated {
  transform: translateY(0);
  opacity: 1;
}



//custom-checkbox
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  input {
    display: none;

    &:checked {
      &~.fake-checkbox {
        background: green;
        border-color: green;
      }
    }
  }
  .fake-checkbox {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: -4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid grey;
    color: #fff;
    font-size: 9px;
    text-align: center;
    text-indent: 2px;

    &:before {
      vertical-align: 10px;
      line-height: 0;
    }
  }
}

.container {
  max-width: 1170px;
  display: block;
  margin: 0 auto;
  height: 100%;
  @include clearfix;
  position: relative;
}

/* range */
input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  border-radius: 12px;
  height: 20px;
  width: 365px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

::-webkit-slider-runnable-track {
  background: #ddd;
  box-sizing: border-box;
}

/*
 * 1. Set to 0 height and width, and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 29px;
  background-image: url("../img/disc.png");
  margin-left: -4px;
  border: none;
  outline: none;
  box-shadow: -100vw 0 0 100vw red;
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw red;
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: red;
}

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

::-ms-tooltip {
  display: none;
}