/*--- FONTS ---*/
$font-family-base			  :'Raleway', sans-serif;
$font-light                   :'Raleway Light', sans-serif;
$font-medium                  :'Raleway Medium', sans-serif;
$font-bold                    :'Raleway Bold', sans-serif;

  /*---- COLORS ----*/
$primary				:     #393f4c;
$white 					:     #fff;
$azure                  :     #03cea4;
$pink                   :     #be3c5f;
$grey                   :     #2b2b2b;
$grey-light             :     #e8e8e8;
$grey-dark              :     #262626;

/*---- EFFECTS ----*/
$transition-base		    : 		0.2s;
