/*--- FONTS ---*/
$font-family-base			  :'Roboto Regular', sans-serif;
$font-light                   :'Roboto Light', sans-serif;
$font-medium                  :'Roboto Medium', sans-serif;
$font-bold                    :'Roboto Bold', sans-serif;
$font-black                   :'Roboto Black', sans-serif;

  /*---- COLORS ----*/
$red                    :     #ed1d24;
$dark                   :     #000000;
$grey                   :     #2c3134;

$primary				:     #393f4c;
$white 					:     #fff;
$azure                  :     #03cea4;
$pink                   :     #be3c5f;

$grey-light             :     #e8e8e8;
$grey-dark              :     #262626;

/*---- EFFECTS ----*/
$transition-base		    : 		0.2s;
