
@font-face {
  font-family: 'LCD2Bold';
  src: url('LCD2Bold.eot?#iefix') format('embedded-opentype'),  url('LCD2Bold.woff') format('woff'), url('LCD2Bold.ttf')  format('truetype'), url('LCD2Bold.svg#LCD2Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
