header {
  margin: 0 auto;

  .top-bar {
    overflow: hidden;
    padding-top: 15px;
    .logo {
      float: left;
      display: inline-block;
      padding-right: 69px;
    }
    .slogan {
      display: inline-block;
      float: left;
      padding-right: 66px;
      max-width: 142px;
      .text {
        padding-right: 0;
        margin-top: 25px;
        font-size: 16px;
        font-family: $font-bold;
        font-weight: 700;
      }
      .t-map {
        & a {
          color: #ed1d24;
          text-decoration: underline;
          background: url("../img/marker.png") left center no-repeat;
          padding: 2px 0 7px 26px;
          cursor: pointer;
        }
      }
    }
    .top-menu {
      display: inline-block;
      .column {
        display: inline-block;
        padding-right: 34px;
        padding-top: 15px;
        float: left;
        font-family: $font-family-base;
        font-size: 14px;
        a {
          display: block;
          text-decoration: none;
          padding-bottom: 20px;
          &.account {
            background: url("../img/acc.png") no-repeat;
            padding-left: 25px;
          }
          span {
            font-style: italic;
            font-family: $font-bold;
            text-transform: uppercase;
            color: #ed1d24;
          }
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .top-contacts {
      float: right;
      p {
        margin-top: 0;
        padding-top: 15px;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        float: right;
        &.tel {
          font-size: 24px;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
}

.wrap {
  background: url("../img/bg_top.jpg") no-repeat;
  background-size: cover;
  height: 567px;
  position: relative;
    .price_stand {
      position: absolute;
      left: -50px;
      bottom: 0;
      img {
        display: block;
      }
      .price_list {
        list-style: none;
        color: #ff0000;
        position: absolute;
        top: 130px;
        left: 115px;
        margin: 0;
        padding: 0;
        width: 180px;
        display: inline-block;
        li {
          height: 50px;
          margin-bottom: 4px;
          &.up {
            .upi{
            background: url("../img/up.png") no-repeat;
              position: absolute;
              left: -21px;
              top: 63px;
              width: 30px;
              height: 30px;
          }
          }
          .name {
            width: 52px;
            display: inline-block;
            font-size: 26px;
            text-align: center;
            small {
              display: block;
              text-transform: uppercase;
              font-size: 9px;
              font-weight: 700;
            }
          }
          .price {
            width: 120px;
            display: inline-block;
            text-align: center;
            font-size: 34px;
          }
        }
      }
      #digital_watch {
        color: #fd0000;
        font-size: 34px;
        font-weight: bold;
      }
      .clock {
        position: absolute;
        z-index: 5;
        top: -14px;
        left: 140px;
      }
  }
  .kredo {
    max-width: 300px;
    float: right;
    text-align: right;
    font-family: $font-family-base;
    h1 {
      font-size: 36px;
      font-weight: normal;
    }
    h2 {
      font-size: 16px;
      font-weight: normal;
    }
  }
  &:after {
    position: absolute;
    display: block;
    content: '';
    background: url("../img/upgrade.png") 0 0 no-repeat;
    width: 240px;
    height: 240px;
    left: 50%;
    margin-left: 300px;
    top: 475px;
  }
}

.gas {
  background: url("../img/bg.jpg") repeat;
  padding-bottom: 95px;
  .advantages {
    display: block;
    .plus {
      font-size: 36px;
      font-family: $font-light;
      text-align: center;
      color: #2c3134;
    }
    .prew {
      display: block;
      margin: 0 auto;
      text-align: center;
      height: 300px;
      .block {
        width: 176px;
        float: left;
        .drops {
          background: url("../img/vector.png") no-repeat;
          display: table;
          height: 167px;
          width: 137px;
          margin-right: 50px;
          margin-bottom: 10px;
          .drop {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }
        .title {
          color: #2c3134;
          font-size: 16px;
          font-weight: 700;
          font-family: $font-bold;
        }
      }
    }
  }
}
.calculator {
  width: 753px;
  height: 262px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0.5px 0.866px 6px 0px rgba( 7, 8, 8, 0.15 );
  position: relative;
  box-sizing: border-box;
  .ranges {
    width: 445px;
    float: left;
    box-sizing: border-box;
    .range_names {
      ul {
        margin: 0;
        display: inline-block;
        list-style: none;
        float: left;
        padding-top: 7px;
        padding-right: 25px;
        padding-left: 0;
        li {
          padding-bottom: 25px;
          &.title {
            color: #8696a7;
            font-size: 9px;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 30px;
          }
          .name {
            width: 52px;
            display: inline-block;
            font-size: 24px;
            text-align: center;
            small {
              display: block;
              text-transform: uppercase;
              font-size: 9px;
              font-weight: 700;
            }
          }
          &:last-child {
            padding-bottom: 14px;
          }
        }
      }
    }
    .ranges_pickers {
      float: left;
      h3 {
        &.title {
          font-size: 24px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
      .card_check {
        padding-bottom: 15px;
      }
      .range_picker {
        padding-bottom: 33px;
      }
    }
  }
  & table {
    background: url("../img/table.png") 0 0 no-repeat;
    float: right;
    tbody {
      display: block;
      padding-right: 10px;
      tr {
        color: #ff0000;
        font-size: 24px;
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom: none;
        }
        &:first-child {
          text-transform: uppercase;
          font-size: 9px;
          color: #ccc;
          td:first-child {
            padding: 17px 11px;
          }
        }
        td {
          max-width: 55px;
          text-align: center;
          padding: 13px 11px;
        }
      }
    }
  }
}


.tab-wrapper {
  margin: 50px auto;
}
.tab-menu {
  padding-left: 0;
}
.tab-menu li {
  position:relative;
  background-color: #d7d7d7;
  color:#2c3134;
  font-size: 14px;
  display: inline-block;
  padding: 20px 0;
  opacity: 0.8;
  cursor:pointer;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  z-index:0;

}

.tab-menu li:hover {
  background-color: #fff;
  color:#ed1d24;
  font-weight: 700;
  opacity: 1;
}

.tab-menu li.active {
  background-color: #fff;
  color:#ed1d24;
  font-weight: 700;
  opacity: 1;
  &:after {
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #ed1d24;
  }
}

.tab-menu li.active:hover {
  color:#464646;
}

.tab-content {
  background-color: #fff;
  box-sizing:border-box;
  width: 100%;
  padding: 50px;
  min-height:200px;
  .opp {
    float: left;
    max-width: 23%;
    text-align: center;
  .qw {
    display: table;
    margin: 0 auto;
    text-align: center;
      .disk {
        width: 88px;
        height: 88px;
        background: #ed1d24;
        border-radius: 50%;
        border: 3px solid #fff;
        display: table-cell;
        vertical-align: middle;
        & p {
          span {
            font-size: 14px;
          }
          color: #fff;
          font-size: 24px;
        }
      }
      .title {
        text-align: center;
      }
    }
  }
}

.line {
  position:absolute;
  width: 0;
  height: 4px;
  background-color: #ed1d24;
  top: 0;
  left: 0;
}

.callout {
  list-style-type: none;
}

/* BASE STYLES FOR EACH */
.callout li {
  display: inline-block;
  /* Real styles */
  position: relative;
  max-width: 880px;
  height: 100px;
  float: right;
  padding: 15px;
  background: #fff0f1 url("../img/info.png") 20px center no-repeat;
  padding-left: 118px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: 0 0 10px #c1c1c1;
}

/* TOP */
.callouts-top:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 23px;
  top: -42px;
  border: 10px solid transparent;
  border-bottom: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-bottom: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.callouts-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 25px;
  top: -32px;
  border: 8px solid transparent;
  border-bottom: 25px solid #fff;
  z-index: 3;
}

.man-card {
  background: url("../img/bg.jpg") repeat;
  margin-top: 50px;
  .adv {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      background: url("../img/man.png") 0 0 no-repeat;
      bottom: 0;
      left: -205px;
      width: 765px;
      height: 452px;
    }
  .plus_t {
    max-width: 750px;
    float: right;
  }
  .prew {
    display: block;
    height: 300px;
    .block {
      width: 33%;
      float: left;
      text-align: -webkit-center;
      .drops {
        background: url("../img/ellipse.png") no-repeat;
        display: table;
        height: 58px;
        width: 58px;
        margin-right: 50px;
        margin-bottom: 10px;
        .drop {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
      .title {
        color: #2c3134;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  }
}



.news{
  margin-top: 25px;
  margin-bottom:60px;
  h2 {
  text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
    color:#67686d;
    font-size:1.375em;
    margin-bottom:30px;
  }
  .news-main{
     article {
       width: 23%;
       margin-left: 2.6666666666666666666666666666667%;
       float: left;
       &:first-child {
         margin-left: 0;
       }
       img{
         display:block;
         margin:0 auto;
       }
     }
  }
  .news-main-content{
    padding:20px 20px 0 20px;
 h2{
    color:#67686d;
   font-size:1.125em;
   text-transform:uppercase;
   margin-bottom:5px;
  }
   h3{
    font-size:0.875em;
     text-transform:uppercase;
     margin-bottom:10px;
     font-style:italic;
  }
    p{
    font-size:0.625em;
      margin-bottom:15px;
  }
  }
}
#mapo9fzxgo6 {
  width: auto;
  height: 596px;
  .title-map {
    position: absolute;
    left: 50%;
    color: #2c3134;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 4px solid #ed1d24;
    background: rgba(255, 255, 255, 0.80);
    z-index: 60;
    padding: 15px 30px;
    margin-left: -270px;
  }
}
.top-bar {
  overflow: hidden;
  padding-top: 15px;
  .logo {
    float: left;
    display: inline-block;
    padding-right: 50px;
  }
  .slogan {
    display: inline-block;
    float: left;
    .text {
      max-width: 139px;
      padding-right: 75px;
      margin-top: 25px;
      font-size: 16px;
      font-weight: 700;
    }
    .t-map {
      & a {
        color: #ed1d24;
        text-decoration: underline;
        background: url("../img/marker.png") left center no-repeat;
        padding: 2px 0 7px 26px;
        cursor: pointer;
      }
    }
  }
  .top-menu {
    display: inline-block;
    .column {
      display: inline-block;
      padding-right: 50px;
      padding-top: 15px;
      float: left;
      font-size: 14px;
      a {
        display: block;
        text-decoration: none;
        padding-bottom: 20px;
        &.account {
          background: url("../img/acc.png") no-repeat;
          padding-left: 25px;
        }
        span {
          font-style: italic;
          font-weight: bold;
          text-transform: uppercase;
          color: #ed1d24;
        }
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .top-contacts {
    float: right;
    p {
      margin-top: 0;
      padding-top: 15px;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      float: right;
      &.tel {
        font-size: 24px;
        font-weight: 700;
        color: #000;
      }
    }
  }
  .socials {
    display: block;
    margin-bottom: 5px;
    max-width: 30px;
    text-align: center;
    float: right;

    a {
      color: #514e4e;
      img {
        filter: grayscale(100%);
        opacity: .3;
        &:hover {
          filter: none;
          opacity: 1;
        }
      }
    }
  }
}



