header {
  max-width: 1170px;
  margin: 0 auto;

  .top-bar {
    overflow: hidden;
    padding-top: 15px;
    .logo {
      float: left;
      display: inline-block;
      padding-right: 50px;
    }
    .slogan {
      display: inline-block;
      float: left;
      .text {
        max-width: 139px;
        padding-right: 75px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 700;
      }
      .t-map {
        & a {
          color: #ed1d24;
          text-decoration: underline;
        }
      }
    }
    .top-menu {
      display: inline-block;
      .column {
        display: inline-block;
        padding-right: 50px;
        padding-top: 15px;
        float: left;
        font-size: 14px;
        a {
          display: block;
          text-decoration: none;
          padding-bottom: 20px;
          span {
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
            color: #ed1d24;
          }
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .top-contacts {
      float: right;
      p {
        margin-top: 0;
        padding-top: 15px;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        float: right;
        &.tel {
          font-size: 24px;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
}

.wrap {
  background: url("../img/bg_top.jpg") no-repeat;
  background-size: cover;
  height: 567px;
  position: relative;
    .price_stand {
      position: absolute;
      left: -50px;
      bottom: 0;
      img {
        display: block;
      }
      .price_list {
        list-style: none;
        color: #ff0000;
        position: absolute;
        top: 116px;
        left: 117px;
        margin: 0;
        padding: 0;
        width: 180px;
        display: inline-block;
        li {
          height: 50px;
          margin-bottom: 5px;
          .name {
            width: 52px;
            display: inline-block;
            font-size: 26px;
            text-align: center;
            small {
              display: block;
              text-transform: uppercase;
              font-size: 9px;
              font-weight: 700;
            }
          }
          .price {
            width: 120px;
            display: inline-block;
            text-align: center;
            font-size: 34px;
          }
        }
      }
      .clock {
        position: absolute;
        z-index: 5;
        top: 9px;
        left: 140px;

      }
  }
}
.gas {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}
.calculator {
  max-width: 753px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  .ranges {

    .range_names {
      padding-left: 30px;
      ul {
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style: none;
        float: left;
        padding-top: 20px;
        padding-right: 20px;
        li {
          height: 50px;
          margin-bottom: 5px;
          .name {
            width: 52px;
            display: inline-block;
            font-size: 26px;
            text-align: center;
            small {
              display: block;
              text-transform: uppercase;
              font-size: 9px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .ranges_pickers {
      float: left;
    }
  }
}




