header {
  max-width: 1170px;
  margin: 0 auto;

  .top-bar {
    overflow: hidden;
    padding-top: 15px;
    .logo {
      float: left;
      display: inline-block;
      padding-right: 50px;
    }
    .slogan {
      display: inline-block;
      float: left;
      .text {
        max-width: 139px;
        padding-right: 75px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 700;
      }
      .t-map {
        & a {
          color: #ed1d24;
          text-decoration: underline;
        }
      }
    }
    .top-menu {
      display: inline-block;
      .column {
        display: inline-block;
        padding-right: 50px;
        padding-top: 15px;
        float: left;
        font-size: 14px;
        a {
          display: block;
          text-decoration: none;
          padding-bottom: 20px;
          span {
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
            color: #ed1d24;
          }
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
    .top-contacts {
      float: right;
      p {
        margin-top: 0;
        padding-top: 15px;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        float: right;
        &.tel {
          font-size: 24px;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
}



.block_calc .calc_header {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.block_calc {
  margin: 0 auto;
  display: table;
  width: 750px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0.5px 0.866px 6px 0px rgba( 7, 8, 8, 0.15 );
}
.block_calc table {
  float: left;
}
.block_calc table:first-child {
  width: 405px;
}
.block_calc table:nth-child(2) tbody {
  display: block;
  padding-right: 10px;
}
.block_calc table:first-child tr {
  margin-bottom: 15px;
  display: block;
}
.block_calc table:first-child tr::after {
  display: table;
  content: '';
  clear: both;
}
.block_calc table:first-child tr td:first-child span {
  font-size: 24px;
  display: block;
}
.block_calc::after {
  position: absolute;
  display: block;
  content: '';
  background: url(images/calc_shadow.png) 0 0 no-repeat transparent;
  bottom: -36px;
  left: 0;
  width: 749px;
  height: 36px;
}
.block_calc table:first-child tr:first-child td:first-child {
  color: #8696a7;
  font-size: 9px;
  text-transform: uppercase;
  max-width: 45px;
  margin-top: 18px;
}
.block_calc table:first-child .form_item {
  margin: 0 auto;
  display: table;
  margin-top: 5px;
}
.block_calc table:first-child tr td:first-child {
  color: #2c3134;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  float: left;
}
.block_calc table:first-child tr td:nth-child(2) {
  float: left;
  padding-left: 30px;
}
.block_calc table:nth-child(2) {
  float: right;
  position: relative;
  background: url(../img/table1.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 14px;
  display: block;

  tbody {
    display: block;
    padding-right: 10px;
  }
}
.block_calc table:nth-child(2) tr:not(:last-child) {
  border-bottom: 1px solid #000;
}
.block_calc tr.even, tr.odd {
  background-color: transparent;
  border: none;
  padding: 0;
}

.block_calc table:nth-child(2) tr:first-child td {
  text-transform: uppercase;
  font-size: 9px;
  color: #ccc;
  max-width: 55px;
  text-align: center;
}
.block_calc table:nth-child(2) tr td {
  padding: 17px 11px;
  text-align: center;
}
.block_calc table:nth-child(2) tr:not(:first-child) td {
  color: #ff0000;
  font: 700 24px 'LCD2', Arial, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  border-radius: 2px;
  width: 200px;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #f22 0%, #f22 15%, #fff 15%, #fff 100%);
  box-shadow: inset #ebb 0 0 5px;
  outline: none;
  transition: .1s;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: #f22;
  border-radius: 50%;
  transition: .1s;
}
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  width: 16px;
  height: 16px;
}


